body {
    margin: 0;
    padding: 2rem;
    font-family: sans-serif;
}

.active {
    color: red;
}

.input-teg li {
    list-style-type: none;
    float: left;
    margin: 0 5px;
    padding: 2px 10px;
    border: 1px solid blue;
    border-radius: 20px;
    background: blue;
    color: #ffffff;
    cursor: pointer;
}